@model IEnumerable<Bookify.Models.Room>
@{
    ViewData["Title"] = "Home";
}

<div>
    <section class="hero-section">
        <div>
            <div class="hero-section-img-large">
                <img src="~/img/index_hero/img1.jpg" alt="Alternate Text" />
                <img src="~/img/index_hero/img2.jpg" alt="Alternate Text" />
                <img src="~/img/index_hero/img4.jpg" alt="Alternate Text" />
                <img src="~/img/index_hero/img5.jpg" alt="Alternate Text" />
            </div>

            <div class="hero-section-img-small">
                <img src="~/img/index_hero/img1-s.jpg" alt="Alternate Text" />
                <img src="~/img/index_hero/img2-s.jpg" alt="Alternate Text" />
                <img src="~/img/index_hero/img4-s.jpg" alt="Alternate Text" />
                <img src="~/img/index_hero/img5-s.jpg" alt="Alternate Text" />
            </div>

            <div class="pre-next-container">
                <div class="prev">&#10094;</div>
                <div class="next">&#10095;</div>
            </div>

            <div class="dots">
                <span class="dot active"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
        
        <div class="hero-section-div">
            <div class="hero-sections">
                <div>
                    <div class="people">
                        <img src="~/img/index-reviews/img1.jpg" alt="Alternate Text" />
                        <img class="translate1" src="~/img/index-reviews/img2.jpg" alt="Alternate Text" />
                        <img class="translate2" src="~/img/index-reviews/img3.jpg" alt="Alternate Text" />
                        <img class="translate3" src="~/img/index-reviews/img4.jpg" alt="Alternate Text" />
                    </div>
                    <div>
                        <p>41,000,000+</p>
                        <p>searches this week</p>
                    </div>
                </div>

                <div>
                    <div>
                        <p>5,000+</p>
                        <p>luxury rooms listed</p>
                    </div>
                </div>

                <div>
                    <div>
                        <p>24/7</p>
                        <p>customer support</p>
                    </div>
                </div>

                <div>
                    <div class="fixed-rating">★★★★★</div>
                    <div>
                        <p>Travelers loves us</p>
                        <p>1M+ ratings on our website</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <link href="~/css/rooms.css" rel="stylesheet" />
    <style>
        .rooms {
            background: var(--second-color);
        }
    </style>
    <section class="rooms">

        <div class="rooms-grid" id="roomsGrid">
            @foreach (var room in Model.Take(9))
            {
                <article class="room-card" data-category="@room.Category.ToLower()">
                    <div class="room-img">
                        <img src="@room.Image" alt="@room.Name" />
                        <div class="overlay"><p>@room.Perks</p></div>
                        <span class="price-tag">$@room.Price / Night</span>
                    </div>
                    <div class="room-content">
                        <h3>@room.Name</h3>
                        <p>@room.Description</p>
                        <button class="book-btn" onclick="location.href='@Url.Action("MakeOrder","Rooms", new { id = room.Id })'">Book Now</button>
                    </div>
                </article>
            }
        </div>
    </section>
    @section Scripts {
        <script src="~/js/rooms.js"></script>
    }
</div>