<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Luxora</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link href="~/img/icon.png" rel="icon" />
    </head>

    <body>
        <header>
            <nav class="center-between">
                <div class="logo-container">
                    <a asp-controller="Home" asp-action="Index">
                    <h3>Luxora</h3>
                    </a>
                </div>

                <div class="center-center">
                    <div class="hamburgers">
                        <label class="hamburger">
                            <input type="checkbox" />
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </label>

                        <div id="navbarContent">
                            <ul class="center-center menu">
                                <li onclick="location.href='@Url.Action("Index", "Home")'"><a>Home</a></li>

                                <li>
                                    Rooms▾
                                    <ul class="sub-menu">
                                        <li onclick="location.href='@Url.Action("Index", "Rooms")'"><a>All</a></li>
                                        <li><a asp-controller="" asp-action="">Standard</a></li>
                                        <li><a asp-controller="" asp-action="">Deluxe</a></li>
                                        <li><a asp-controller="" asp-action="">Suite</a></li>
                                        <li><a asp-controller="" asp-action="">Special View</a></li>
                                        <li><a asp-controller="" asp-action="">Family & Group</a></li>
                                    </ul>
                                </li>
                               
                                <li>
                                    Profile▾
                                    <ul class="sub-menu">
                                        <li onclick="location.href='@Url.Action("Index", "Profile")'"><a>Account</a></li>
                                        <li onclick="location.href='@Url.Action("Index", "History")'"><a>History</a></li>
                                    </ul>
                                </li>  
                                
                                <li id="nav-button">
                                    Authentication▾
                                    <ul class="sub-menu">
                                        <li onclick="location.href='@Url.Action("Login", "Auth")'"><a>Login</a></li>
                                        <li onclick="location.href='@Url.Action("Signup", "Auth")'"><a>Signup</a></li>
                                        <li onclick="location.href='@Url.Action("Logout", "Profile")'"><a>Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            
                <div class="nav-button">
                    <button type="button" onclick="window.location.href='/Auth/Login'">Login</button>
                    <button type="button" onclick="window.location.href='/Profile/Logout'">Logout</button>
                    <button type="button" onclick="window.location.href='/Auth/Signup'">Signup</button>
                </div>
            </nav>
        </header>

        <div>
            <main role="main" style="padding-top:8vh;" class="pages">
                @RenderBody()
            </main>
        </div>

        <footer>
            <div class="center-center foot-container">
                <div>
                    <div class="foot foot1">
                        <h3>Luxora</h3>
                        <div>
                            <p>
                                We believe every journey deserves the perfect stay. Our hotel
                                offers guests a welcoming experience with comfortable rooms,
                                modern amenities, and a relaxing atmosphere.
                            </p>
                        </div>
                    </div>

                    <div class="foot foot5">
                        <h3>Terms & Conditions</h3>
                        <div>
                            <p>
                                By booking a room through our website, you agree to
                                comply with these
                                <span><a asp-controller="Rooms" asp-action="Terms">Terms & Conditions</a></span>.
                            </p>
                        </div>
                    </div>
                </div>
                
                <div>
                    <div class="foot foot2">
                        <h3>Contact Us</h3>
                        <div>
                            <p>📍 123 Street, Cairo</p>
                            <p>📧 info@luxora.com</p>
                            <p>📞 +20 123 456 789</p>
                        </div>
                    </div>

                    <div class="foot foot3">
                        <h3>Quick Links</h3>
                        <div>
                            <ul>
                                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                <li><a asp-controller="Rooms" asp-action="Index">Rooms</a></li>
                                <li><a asp-controller="Rooms" asp-action="Terms">Terms</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="foot foot4">
                        <h3>Stay in the loop</h3>
                        <div>
                            <form>
                                <input type="email" placeholder="Type your Email" />
                                <button type="submit">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="hr-foot"/>

            <div class="center-center rights">
                © 2025 Bookify Hotel | All rights reserved
            </div>
        </footer>

        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
